.pagination {
  background: white;
  border-radius: 6px;
  display: flex;
}

.pagination a {
  @apply text-blue-800;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.active {
  @apply bg-blue-800;
}

.active a {
  @apply text-white;
}