.Text8 {
  text-align: center;
  width: 450px;
  font-weight: 500;
  font-size: 50px;
  margin-left: 35%;
  margin-top: 8%;
}
.Text8d {
  margin-left: 37%;
  margin-top: 10px;
}
.Text8d h4 {
  padding-top: 10px;
  padding-left: 100px;
}
